.navbar {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    display: flex;
    align-items: center;
    background-color: #333;
    color: white;
    padding: 0.5rem;
    z-index: 1000; 
}

.navbar button {
    margin-right: 0.5rem;
    padding: 0.5rem 0.5rem;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    color: white;
}

.navbar .active {
    background-color: #555;
}

.navbar .new-board {
    margin-left: auto;
    margin-right: 1rem;
    background-color: #28a745;
}
