.toolbar{
    position: fixed;
    width: 80.5px;
    background: rgb(0, 0, 0, 0.5); /*semi-transparent*/
    padding: 10px;
    border-radius: 8px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.15);
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 1rem; /*aligns below navbar*/
}

.toolbar button {
    opacity: 1; /*fully oqaque*/
    background: none;
    border: none;
    margin: 8px 0;
    font-size: 20px; /*for icon size*/
    cursor: pointer;
}