.files-page {
    font-family: Arial, sans-serif;
    background: #2e2e2e; /* darker grey */
    min-height: 100vh;
    width: 100%;  /* full width */
}

/* Page content */
.files-content {
    padding: 60px 20px 20px; /* exactly below navbar */
    width: 100vw; /* take full width */
    box-sizing: border-box;/* include padding in width */
    text-align: left;
}
.files-content h1 { /* Files title */
    margin-bottom: 20px;
    text-decoration: underline;
    color:#007bff;
}

.new-file-btn {
    background-color: #4caf50;
    color: white;
    border: none;
    padding: 10px 16px;
    cursor: pointer;
    margin-bottom: 20px;
    border-radius: 5px;
    font-weight: bold;
}

.new-file-btn:hover {
    background-color: #388e3c;
}

.file-list {
    list-style: none;
    padding: 0;
    margin: 0;

}

.file-item {
    background: #444;
    /* dark card */
    color: #fff;
    /* white text */
    margin: 10px 0;
    padding: 12px 16px;
    border-radius: 6px;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.4);
    text-align: left;
}

/* Optional: make file name pop */
.file-item:hover {
    background: #555;
}